<%= render 'header' %>

<div class="sub-header col-xs-12">
    <%= @contact.name %> (<%= @contact.email %>)
</div>

<div class="content col-sm-3 col-xs-12 col-xs-offset-1">
  <div class="profile-picture" title="<%= @contact.session %>">
    <img src="https://www.gravatar.com/avatar/<%= @hash %>?s=200" draggable="false" class="img-responsive" />
  </div>
</div>

<div class="col-sm-7 col-xs-12">
  <h2>Activity</h2>
  <% @contact.pages.each do |page| %>
    <div class="activity">
      <table>
        <tr>
          <td><b>URL</b></td>
          <td><a href="<%= page.url %>"><%= page.url %></a></td>
        </tr>
        <tr>
          <td><b>Visits</b></td>
          <td><%= page.visits %></td>
        </tr>
        <tr>
          <td><b>Browser</b></td>
          <td><%= page.browser_name %> v<%= page.browser_version %></td>
        </tr>
        <tr>
          <td><b>Last visit</b></td>
          <td><%= Time.at(page.last_date / 1000) %></td>
        </tr>
        <tr>
          <td><b>Last duration</b></td>
          <td><%= humanize page.last_duration %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

